<my-spinner [isRunning]="isRequesting"></my-spinner>

<div class="col-sm-9">
  <div class="well">
    <h4>Channels</h4>
      <p-table
        *ngIf="channels"
        [value]="channels"
        [responsive]="true"
        [paginator]="true"
        [rows]="15"
        [hidden]="isRequesting"
        selectionMode="single"
        [(selection)]="selectedChannel"
        (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="header">
          <tr>
            <th [hidden]="true">ChannelId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Subscribers</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData  let-channel>
          <tr   [pSelectableRow]="rowData">
            <td [hidden]="true">{{ channel.channelId }}</td>
            <td>{{ channel.title }}</td>
            <td>{{ channel.description }}</td>
            <td>{{ channel.subscriberCount }}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog header="Channel Details"
                [(visible)]="displayDialog"
                [focusOnShow]="false"
                [responsive]="true"
                showEffect="fade"
                [modal]="true"
                [style]="{width: '300px'}"
      >
        <div class="ui-g ui-fluid" *ngIf="channel">
          <div class="ui-g-12" [hidden]="true">
            <div class="ui-g-4">
              <label for="channelId">Id</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="channelId" [(ngModel)]="channel.channelId" name="channelId" />
            </div>
          </div>
          <div class="ui-g-12" [hidden]="true">
            <div class="ui-g-4">
              <label for="title">Title</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="title" [(ngModel)]="channel.title" name="title" autofocus />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="description">Description</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="description" [(ngModel)]="channel.description" name="description" autofocus  />
            </div>
          </div>
          <div class="ui-g-12" [hidden]="true">
            <div class="ui-g-4">
              <label for="subscriberCount">SubscriberCount</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="subscriberCount" [(ngModel)]="channel.subscriberCount" name="subscriberCount" />
            </div>
          </div>
        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-save" (click)="save()" label="Save"></button>
          </div>
        </p-footer>
      </p-dialog>
  </div>
</div>
