<h4>Videos uploaded</h4>

<my-spinner [isRunning]="isRequesting"></my-spinner>

<p-dataView
  #dv
  *ngIf="videos;else elseBlock"
  [hidden]="isRequesting"
  [value]="videos"
  [paginator]="true"
  layout="grid"
  [rows]="5"
  paginatorPosition="both"
>
  <ng-template let-video pTemplate="gridItem">
      <div style="padding:.5em;width:400px" class="ui-g-12 ui-md-3">
        <p-panel [header]="video.title" [style]="{'text-align':'center'}">
          <img src="{{video.thumbnails.medium.url}}" width="{{video.thumbnails.medium.width}}" height="{{video.thumbnails.medium.height}}">
          <div class="video-detail">{{video.description}}</div>
          <hr class="ui-widget-content" style="border-top:0">
          <button pButton type="button" icon="pi pi-search" (click)="selectVideo($event, video)" style="margin-top:0"></button>
          <button pButton type="button" icon="pi pi-bookmark" (click)="addVideoToPlaylist($event, video)" style="margin-top:0;margin-left:5px"></button>
        </p-panel>
      </div>
  </ng-template>
</p-dataView>
<ng-template #elseBlock><p>No video uploaded!</p></ng-template>

<hr/>
<h4>Video upload</h4>

<p-fileUpload
  #form
  name="video"
  method="POST"
  accept="video/*"
  withCredentials="true"
  url={{url}}
  (onSelect)="onSelect($event)"
  (onUpload)="onUpload($event)"
  showCancelButton="false"
></p-fileUpload>

<p-dialog header="Please add details"
          [(visible)]="displayDialog"
          [focusOnShow]="false"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          [closable]="false"
          [style]="{width: '500px'}"
>
  <div class="ui-g ui-fluid" *ngIf="video">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="videoTitle">Title</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="videoTitle" [(ngModel)]="video.title" name="videoTitle" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="videoDescription">Description</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="videoDescription" [(ngModel)]="video.description" name="videoDescription" />
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-4">
      <label for="videoCategory">Category</label>
    </div>
    <div class="ui-g-8">
      <select id="videoCategory" [(ngModel)]="categoryId">
        <option
          *ngFor="let category of videoCategories"
          value="{{ category.id }}"
        >
          {{ category.snippet.title }}
        </option>
      </select>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-save" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Video Details"
          [(visible)]="displayDialogVideoPlayer"
          [focusOnShow]="false"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          [style]="{width: '600px'}"
          (onHide)="onDialogClose()">
  <div class="ui-g" *ngIf="selectedVideo">
    <div class="ui-g-12" style="text-align:center">
      <iframe width="560" height="315" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="videoTitleUpdate">Title</label>
      </div>
      <div class="ui-g-8">
        <p-inplace [closable]="true" (onDeactivate)="updateField($event, selectedVideo)">
            <span pInplaceDisplay>
                Click to Edit
            </span>
            <span pInplaceContent>
                <input pInputText id="videoTitleUpdate" [(ngModel)]="selectedVideo.title" name="videoTitle" />
            </span>
        </p-inplace>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="videoDescriptionUpdate">Description</label>
      </div>
      <div class="ui-g-8">
        <p-inplace [closable]="true" (onDeactivate)="updateField($event, selectedVideo)">
            <span pInplaceDisplay>
                Click to Edit
            </span>
          <span pInplaceContent>
                <input pInputText id="videoDescriptionUpdate" [(ngModel)]="selectedVideo.description" name="videoDescription" />
            </span>
        </p-inplace>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Please select a playlist to add the video"
          [(visible)]="displayDialogPlaylistSelector"
          [focusOnShow]="false"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          [closable]="true"
          [style]="{width: '500px'}"
>
  <div class="ui-g ui-fluid" *ngIf="selectedVideo">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="videoPlaylist">Select a playlist</label>
      </div>
      <div class="ui-g-8">
        <select id="videoPlaylist" [(ngModel)]="selectedPlaylist">
          <option
            *ngFor="let playlist of playlistsToSelectFrom"
            value="{{ playlist.playlistId }}"
          >
            {{ playlist.title }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-save" (click)="saveVideoToPlaylist()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
