<my-spinner [isRunning]="isRequesting"></my-spinner>

<div class="col-sm-9" >
  <div class="well">
    <h4>Playlists</h4>
    <p-table
        *ngIf="playlists"
        #dt
        [value]="playlists"
        [responsive]="true"
        [paginator]="true"
        [rows]="5"
        [hidden]="isRequesting"
        selectionMode="single"
        [(selection)]="selectedPlaylist"
        (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="header">
        <tr>
          <th [hidden]="true">Id </th>
          <th >Title</th>
          <th >Description</th>
          <th >ItemCount</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData  let-playlist>
        <tr  [pSelectableRow]="rowData">
          <td [hidden]="true">{{ playlist.playlistId }}</td>
          <td>{{ playlist.title }}</td>
          <td>{{ playlist.description }}</td>
          <td>{{ playlist.itemCount }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
      </ng-template>
    </p-table>

    <p-dialog header="Playlist Details"
              [(visible)]="displayDialog"
              [focusOnShow]="false"
              [responsive]="true"
              showEffect="fade"
              [modal]="true"
              [style]="{width: '300px'}"
    >
      <div class="ui-g ui-fluid" *ngIf="playlist">
        <div class="ui-g-12" [hidden]="true">
          <div class="ui-g-4">
            <label for="playlistId">Id</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="playlistId" [(ngModel)]="playlist.playlistId" name="playlistId" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="title">Title</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="title" [(ngModel)]="playlist.title" name="title" autofocus />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="description">Description</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="description" [(ngModel)]="playlist.description" name="description" />
          </div>
        </div>
        <div class="ui-g-12" [hidden]="true">
          <div class="ui-g-4">
            <label for="itemCount">itemCount</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="itemCount" [(ngModel)]="playlist.itemCount" name="itemCount" />
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="pi pi-save" (click)="save()" label="Save"></button>
        </div>
      </p-footer>
    </p-dialog>

  </div>
</div>
